* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(50deg, rgba(1, 1, 46, 1) 0%, rgba(177, 16, 157, 1) 50%, rgba(0, 31, 255, 1) 100%);
}

.home-wrapper {
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 1800px;
    height: 920px;
    position: relative;
    overflow: hidden;
    box-shadow: 9px 4px 13px 0px rgba(0, 0, 0, 0.66);
}

.home-wrapper>img {
    position: absolute;
    width: 100%;
    filter: blur(3px);
}

.box_sx {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 20px;
    padding-bottom: 20px;
    height: 920px;
    min-width: calc(100% - 1200px);
    background-image: url(../img/logo.grande.svg);
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
}

main .box_sx>div:first-child {
    width: 500px;
    height: 550px;
}

main>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    height: 920px;
    min-width: calc(100% - 598px);
    z-index: 999999;
}

.Text_box_sx {
    display: grid;
    text-align: center;
    color: white;
}

#box_dx {
    filter: blur(0) !important;
}

main .box_dx>div:first-child {
    width: 1000px;
    height: 600px;
    position: relative;
}

.box_dx img {
    position: absolute;
    left: -40px;
}

footer {
    min-width: 1800px;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 9px 11px 13px 0px rgba(0,0,0,0.66);
    background: rgb(136, 0, 254);
    background: linear-gradient(18deg, rgba(136, 0, 254, 0.9444152661064426) 0%, rgba(27, 62, 255, 1) 50%, rgba(179, 0, 255, 0.865983893557423) 100%);
}





/* debug */
.debug .home-wrapper {
    border: 1px solid;
    border-color: aliceblue;
}

.debug footer {
    border: 1px solid;
    border-color: aliceblue;
}

.debug main>div:first-child {
    border: 1px solid;
    border-color: aliceblue;
}

.debug main .box_sx>:first-child {
    border: 1px solid;
    border-color: aliceblue;
}

.debug main>div:last-child {
    border: 1px solid;
    border-color: aliceblue;
}

.debug main .box_dx>div:first-child {
    border: 1px solid;
    border-color: aliceblue;
}